# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# ignore jetbrains' ide folder
.idea/

# ignore config files
./config/*.json

# ignore secret config
/server/config/*
!/server/config/*.go
bash.exe.stackdump
